.h2sec5{
    font-size: 20px;
}
.container5{
    margin-top: 90px;
    padding-left: 418px;
    padding-right: 400px;
}
.box5{
    border: 3px solid rgba(234, 236, 240, 1);
    border-radius: 15px;

}
.h2dadiv{
    margin-left: 20px;
    font-size: 18px;
}
.pbox{
    margin-left: 20px;
    font-size: 16px;
}